.content {
  width: 100%;
  height: auto;
  display: flex;

  gap: 20px;
}

.editSection {
  background-color: lightslategray;
  flex: 1;
}

.resultSection {
  display: flex;
  flex: 2;
}

.leftSection {
  background-color: gray;
  flex: 1;
}

.rightSection {
  background-color: lightgray;
  flex: 2;
}

img {
  width: 250px;
}
