body {
  padding: 0;
  margin: 0;

  background-color: black;
}

#root {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

/* General stuff shared across all components */

pre {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 20px;
}
