.editContactSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editSectionTitle {
  color: #244061;
  font-weight: 900;
  font-family: "Merriweather", serif;
  font-size: x-large;
  border-bottom-style: solid;
  border-width: 1px;
}
